@{
    Layout = "~/shared/_layout1.cshtml";
    
}

<center>
    
<table cellpadding="0" cellspacing="0" width="100%" border="10">
									
    <tr><td><h1 style="margin-left: 300px; color: #ff6a00">About Us</h1>
    <img border="0" src="~/images/ads.jpg" height="300" width="500" style="margin-left: 200px"/>

    <p><h3 style="margin-left: 10px; color: #0026ff">The fashion destination where you can shop over 850 brands, including vintage and second hand, buy your favourite hair and beauty brands, create and share looks, keep up-to-date with street style and catwalk reports and even sell your fashion cast-offs via ASOS Marketplace.</h3></p>
    </td></tr>
	
									
    <tr><td><p><h4 style="margin-left: 300px; color: #ff6a00"> Projec created in ASP.Net Razor Syntax.</h4> </p></td></tr>
    <tr><td></td></tr>
									
</table>
</center>