@{
    if (!WebSecurity.IsAuthenticated) 
    { 
        string currentUrl = Request.Url.ToString(); 
        Response.Redirect("~/signin?sender=" + currentUrl); 
    } 
    Layout = "~/shared/_layout1.cshtml"; 
    Page.Title = "Checkout"; 
    var address1 = ""; 
    var address2 = ""; 
    var town = ""; 
    var region = ""; 
    var postalCode = ""; 
    var country = ""; 
    // Redirect to Cart.cshtml if no cart exists in Session 
    if (Session["cart"] == null) 
    { 
        Response.Redirect("Cart"); 
    } 
    // Get current cart from Session 
    Cart cart = (Cart)Session["cart"]; 
    // Redirect to cart.cshtml if cart has no items 
    if(cart.Items.Count() == 0) 
    { 
        Response.Redirect("Cart"); 
    } 

        // POST REQUEST HANDLER GOES HERE 
            var db = Database.Open("fashionStore"); 

    var p = "SELECT id, pName, pPrice FROM Product WHERE id = @0";

    //validation
    Validation.RequireField("address1", "please enter address");
    Validation.RequireField("address2", "please enter address");
    Validation.RequireField("town", "please enter town name");
    Validation.RequireField("region", "please enter region");
    Validation.RequireField("postalCode", "please enter postal code");
    Validation.RequireField("country", "please enter country name");

    // POST REQUEST HANDLER GOES HERE  
    if (IsPost) 
    { 
        address1 = Request["address1"]; 
        address2 = Request["address2"]; 
        town = Request["town"]; 
        region = Request["region"]; 
        postalCode = Request["postalCode"]; 
        country = Request["country"];    
        // Validate Delivery Details 
         
        if(Validation.IsValid()) 
        { 
            // Save Order 
            var UserID = WebSecurity.GetUserId(WebSecurity.CurrentUserName); 
            var orderSql = "INSERT INTO Orders (UserId, OrderShipped, OrderTotal, " + "OrderDateTime, Address1, Address2, Town, " + "Region, PostalCode, Country) " + "VALUES ( @0, @1, @2, @3, @4, @5, @6, @7, @8, @9 )"; 
            db.Execute(orderSql, UserID, false, 500, DateTime.Now, address1, address2, town, region, postalCode, country); 
            var orderId = db.GetLastInsertId(); 
            foreach(var key in cart.Items) 
            {
                var pd = db.Query(p, key);
                foreach(var item in pd)
                {  
                    orderSql = "INSERT INTO OrderItems (OrderID, ProductID, Size, Price) VALUES (" +"@0, @1, @2, @3)"; 
                    db.Execute(orderSql, orderId, item.ProductID, item.Size, item.Price); 
                }
            } 
            // Send confirmation email 
          //  WebMail.Send(to: WebSecurity.CurrentUserName, subject: " Order Confirmation", body: "Many thanks for your order. Your items will be " + "dispatched shortly and should arrive within 3-5 working days." ); 
            // Clear shopping cart 
          //  cart.Clear(); 
            Response.Redirect("OrderComplete"); 
         }
      } 
      int count = 0;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <table width="100%"  border="10" cellspacing="0" cellpadding="0" align="center">
		<tr><td>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="business"
                value="tipix_1356776467_biz@pucit.edu.pk">

        <h1 style="margin-left: 400px; color: #b200ff">Checkout</h1> 
        <div id="checkout"> 
        <h2 style="margin-left: 400px; color: #ff6a00">Order Details</h2> 
        <table id="cartTable" style="margin-left: 0px; color: #ff6a00; background: #ff6a00; width: 500"> 
            <tr> 
            <th style=" color: #b6ff00; margin-left: 10px">Product Name</th> 
            <th style=" color: #b6ff00; margin-left: 10px">Product Size</th> 
            <th style=" color: #b6ff00; margin-left: 10px">product Price</th> 
            </tr> 
            @foreach (var item in cart.Items) 
            { 
//                var pd = db.Query(p, key);
  //              foreach(var item in pd) 
    //            { 
                      count++;
                      <input type="hidden" name="item_name_@count" value="@item.ProductName">
                      <input type="hidden" name="amount_@count" value="@item.Price">

                    <tr> 
                    <td style="margin-left: 10px">@item.ProductName</td> 
                    <td style="margin-left: 10px">@item.Size</td> 
                    <td style="margin-left: 10px">£@item.Price</td> 
                    </tr> 
                 //}
            } 
            <tr class="cartTotal"> 
            <td colspan="2">&nbsp;</td> 
            <td style=" color:#ff6a00; margin-left: 10px">$@Session["totalPrice"]</td>  
        <td><input type="image"
                src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif"
                border="0" name="submit" alt=""></td>    
        </tr> 
        </table> 
      </div>
            </form>
             </td></tr>
      </table> 
 
    </body>
</html>
