@{
    Layout = "~/shared/_layout1.cshtml";
    
}

<center>
    
<table cellpadding="0" cellspacing="0" width="100%" border="10">
									
    <tr><td><h1 style="margin-left: 300px; color: #ff6a00">Contact Us</h1>
    

    <p><h3 style="margin-left: 10px; color: #0026ff">Punjab University College of Information Technology, Allama Iqbal Campus, Lahore, Pakistan</h3></p>
        <p><h3 style="margin-left: 300px; color: #0026ff">www.bsef09m022.com</h3></p>
    </td></tr>
	
									
    <tr><td><p><h4 style="margin-left: 300px; color: #ff6a00">(+92 42) 36304825, 36304835, 36369390</h4> </p></td></tr>
    <tr><td></td></tr>
									
</table>
</center>