@{
    Layout = "~/shared/_layout1.cshtml";
    
      var db = Database.Open("fashionStore");
      var ProductName = UrlData[0];
  
      var prod = db.QuerySingle("SELECT * FROM Product WHERE pName = @0", ProductName);
  
      var productID=prod.id;
      var Name=prod.pName;
      var Image=prod.pImage;
      var Price=prod.pPrice;
      var Desc=prod.pDescription;
  
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="style.css" rel="stylesheet" type="text/css">
        <title></title>
    </head>
    <body>
        <form action="/Cart" method="post">
        <table width="100%"  border="10" cellspacing="0" cellpadding="0" align="center">
		<tr><td>
            @productHelper.productDetail(Name,Image,Price,Desc,productID)
            
        </td>
        <td>
                        <div style="margin-left: 10px; width: 250px; height: 200px">
             <fieldset style="width: 200px; margin-bottom: 50px"> 
            <legend>Like</legend> 
                   <div style="height: auto; width: 230px">
            @Facebook.LikeButton("http://www.facebook.com/step.friends",
                           width:230,
                           buttonLayout:"standard",
                           height:25,
                           showFaces:false)
        </div>

        </fieldset> 
                </div>

        </td>
        </tr>
        </table>
        </form>   
	 
    </body>
</html>
