@{
    Layout = "~/Shared/_layout1.cshtml"; 
     
     Validation.RequireField("userName","*Enter Username");
     Validation.RequireField("password","*Enter Password");

    if(IsPost)
    {
         if(Validation.IsValid())
         {
             var userName = Request["userName"];
             var password = Request["password"];
             if(userName == "admin" && password=="admin")
             {
                 Response.Redirect("~/admin/adminHome.cshtml");
             }
             else if(WebSecurity.Login(userName, password))
             {
                    Session["productList"] = new Dictionary<string, int>(); 
                 Response.Redirect("~/user/welcome.cshtml");

             }
             else
             {
                 ModelState.AddFormError("Invalid Username or Password.");
             }
         }
    }
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

     <form id="login" method="post" action="" style=" margin-top: 0px; margin-left: 0px; margin-right: 0px; height: auto; width: 100%">  
                       
        <table width="100%"  border="10" cellspacing="0" cellpadding="10" align="center" >

            <tr>
                <td height="85" align="center" valign="top">
                    <h3 class="txt" style="color: #ff6a00">Registered Customer</h3>
                    <table width="80%"  border="0" cellspacing="0" cellpadding="10" align="center " style="margin-left: 300px">
                        <div style="font-family: Arial; color: #FF0000; border: initial; width: 500px; height: 50px; margin-top: 5px; margin-left: 0px;"> @Html.ValidationSummary()</div>                                 
                        <td class="txt" style="color: #ff6a00"> User Name </td>
			            <td ><input name="userName" type="text" class="int" id="userName" value=@Request["userName"] ></td>
                        <td width="50%" class="error">@Html.ValidationMessage("userName")</td>
                        </tr>
                        <tr>
                        <td class="txt" style="color: #ff6a00">Password</td>
			            <td class ="txt"><input name="password" type="password" class="int" id="password" value=@Request["password"] ></td>
                        <td width="50%" class="error">@Html.ValidationMessage("password")</td>
                        </tr>
                        

                     </table>
                     <input type="submit" value="Log In" class="button" style="margin-top: 20px; color: #ff6a00"/>
                    </td>
                </tr>
            </table>
        
      </form>  
    </body>
</html>
