@{
    
}

<!DOCTYPE html>
			<table width="100%"  border="0" cellspacing="0" cellpadding="0">
				  <tr>
						<td height="85" align="left" valign="top">
									<table width="100%"  border="10" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="20%" height="85"><img src="~/images/onstore.jpg" alt="" width="201" height="85" border="0"></td>
										<td width="80%"><table width="790"  border="0" cellspacing="0" cellpadding="0">
										  <tr>
											  <td width="14"><img src="~/images/spacer.gif" alt="" width="10" height="10" border="0"></td>
											
                                              <td ><img src="~/images/admin.gif" alt="" width="400" height="85" border="0"></td>
                                              <td width="14">&nbsp;</td>
											<td width="263" class="txt">
											<table width="100%"  border="0" cellspacing="0" cellpadding="0">
												<tr>
												<div class="button1" style="margin-top: 0px; margin-left: 190px"><img src="@Href("~/images/spacer.gif")" alt="" width="25" height="19"><a href="~/admin/adminHome.cshtml" id="wht2">Home</a></div>
												</tr>
											</table>
										    </td>
										  </tr>
										</table></td>
									  </tr>
									</table>
						</td>
				  </tr>
				  </table>
	