@{
   Layout="~/admin/shared_admin/_layout1.cshtml";

    var db = Database.Open("fashionStore");
    var q = "SELECT * FROM Category ORDER BY id";
    var data = db.Query(q);
 }
<!DOCTYPE html>
<html>
 <head>
     <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="@Href("style.css")" rel="stylesheet" type="text/css">
   <title>All Products</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   
   <table width="100%"  border="10" cellspacing="0px" cellpadding="0">
   <tr >
    <tr><td>
    <table style="margin-left: 400px; border: 10; margin-bottom: 10px; background: #0094ff; color:#f00">
        <h2 style="margin-left: 380px; color: #0026ff ; "> All Categories </h2></tr>       <thead>
           <tr>
               <th>Id</th>
               <th>Title</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in data){
            <tr>
               <td>@row.Id</td>
                   <td>@row.title</td>
            </tr>
           }
       </tbody>    </table>
       </td>
       </tr>
       </table>

 </body>
</html>