@{
    Layout = "~/admin/shared_admin/_layout1.cshtml"; 
    Page.Title = "Orders"; 
    var showShippedOrders = false; 
    if(IsPost) 
    { 
        showShippedOrders = Request["showShippedOrders"].AsBool(); 
    } 
    var db = Database.Open("fashionStore"); 
    var sqlCommand = "SELECT Orders.OrderId, Orders.OrderShipped, Orders.OrderTotal, " +"Orders.OrderDateTime FROM Orders " + "INNER JOIN UserProfile ON Orders.UserId = UserProfile.UserId " + "WHERE OrderShipped = @0 " + "ORDER BY OrderDateTime DESC"; 
    var result = db.Query(sqlCommand, showShippedOrders); 
    var ordersGrid = new WebGrid(source: result, rowsPerPage: 20);     
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <table width="100%"  border="10" cellspacing="0" cellpadding="0" align="center">
		<tr><td>
        <h1 style="color:#ff6a00; margin-left: 400px">Orders Summary</h1> 
        <form action="Default" method="post"> 
            <p style="margin-left: 350px; color: #ff6a00"> 
                Unshipped Orders @Html.RadioButton("showShippedOrders", "false", !showShippedOrders) 
                Shipped Orders @Html.RadioButton("showShippedOrders", "true", showShippedOrders) 
                <input type="submit" value="Go"/> 
            </p> 
        </form> 
        <div class="grid" style="margin-left: 300px; margin-bottom: 10px; background: #ffd800; width: 450px" > 
            @ordersGrid.GetHtml(tableStyle: "grid", headerStyle: "gridHeader", alternatingRowStyle: "gridAlt", footerStyle: "gridFooter", columns: ordersGrid.Columns( ordersGrid.Column("OrderId", "Order ID"),
            ordersGrid.Column("OrderShipped", "Shipped?"),ordersGrid.Column("OrderTotal", "Total Value", format: @<text> £@item.OrderTotal </text>), ordersGrid.Column("OrderDateTime", "Ordered"), ordersGrid.Column(null, null, format: @<text> <a href="OrderDetails/@item.OrderId"> Details </a> </text>))             ) 
        </div>
        </td></tr>
            </table>
    </body>
</html>
