@{
     Layout="~/admin/shared_admin/_layout1.cshtml";

       WebImage photo = null;
       var newFileName = "";
       var imagePath = "";

       var db =  Database.Open("fashionStore");
       var query = "select * from category";
       var data = db.Query(query);

       if(IsPost)
       {
           var pName = Request["pName"];
           var pDescription = Request["pDescription"];
           var pPrice = Request["pPrice"];
           var pImage = Request["pImage"];
           var pCategory = Request["pCategory"];

          <p>"File Count  = " @Request.Files.Count</p>
          photo = WebImage.GetImageFromRequest();
          
           
            if(photo != null)
            {

                newFileName =  Path.GetFileName(photo.FileName);
            
                imagePath = @"images\" + newFileName;
                photo.Save(@"~\" + imagePath);
            }

           var Image = "~/images/" + newFileName;

            if(ModelState.IsValid)
             {
                 var insertquery = "Insert into Product(pName,pDescription,pPrice,pImage,pCategory)" + "values (@0,@1,@2,@3,@4)";
                 db.Execute(insertquery,pName,pDescription,pPrice,Image,pCategory);
                 Response.Redirect("~/admin/product/allProducts.cshtml");
             }

       }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <link href="style.css" rel="stylesheet" type="text/css">
        <title></title>
    </head>
    <body>
        <form id="add_category" method="post" enctype="multipart/form-data" action="" style="border: groove; margin-top: 0px; margin-left: 0px; margin-right: 0px; height: auto; width: 100%">                     
        <table width="100%"  border="10" cellspacing="0px" cellpadding="0">
          <tr><td>   <table width="100%"  border="0" cellspacing="10px" cellpadding="0" align="center" style="margin-left: 200px" >
			<tr ><h2 style="margin-left: 300px; color: #0026ff ; "> Add Product </h2></tr>
             <tr>
			    <td width="182" align="left" class="txt">Category</td>
                <td>			
                    <select name="pCategory" >
                        @foreach(var row in data)
                        {
                            <option>@row.title</option>    
                        }
                        
                    </select>
                </td></tr>
             <tr>
			    <td width="182" align="left" class="txt" >Name &nbsp;</td>
                 <td><input type="text"  placeholder="Product Name" name="pName" id="pName" value=@Request["pName"]/></td>
				
			</tr>
             <tr>
			    <td width="182" align="left" class="txt">Description &nbsp;</td>
                 <td><input type="text"  placeholder="Description" name="pDescription" id="pDescription" value=@Request["pDescription"]/></td>
				
			</tr>
            <tr>
			    <td width="182" align="left" class="txt">Price &nbsp;</td>
                 <td><input type="text"  placeholder="Price" name="pPrice" id="pPrice" value=@Request["pPrice"]/></td>
				
			</tr>
            <tr>
			    <td width="182" align="left" class="txt">Image &nbsp;</td>
                 <td><input type="file"  placeholder="Image URL" name="pImage" id="pImage" value=@Request["pImage"]/></td>
				
			</tr>

            <tr>
			    <td width="182" align="left" class="txt"><input type="submit" class="button" value="Save" /></td>
                 <td><input type="submit" class="button" value="Cancel" /></td>
				
			</tr>

		</table>
        </td>
        </tr>
        </table>
        </form>

    </body>
</html>
