@{
     Layout="~/admin/shared_admin/_layout1.cshtml";
     var roleName = Request["roleName"]; 
    if(IsPost) 
    { 
        // Assign user to role 
        var userName = Request["newUser"]; 
        if (!Roles.IsUserInRole(userName, roleName)) 
        { 
            Roles.AddUsersToRoles( 
            new [] { userName }.ToArray(), 
            new [] { roleName }.ToArray());
  
        } 
     } 
     // Get all current role members 
     var usersInRole = Roles.GetUsersInRole(roleName); 
     // Get all users from database and create a list of SelectListItems 
     var db = Database.Open("fashionStore"); 
     var sqlCommand = "SELECT userName FROM UserProfile ORDER BY UserName"; 
     List<SelectListItem> allUsers = new List<SelectListItem>(); 
     foreach(var item in db.Query(sqlCommand)) 
     { 
        allUsers.Add(new SelectListItem { Text = item.UserName }); 
     } 

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
         <table width="100%"  border="10" cellspacing="0px" cellpadding="0">
        <tr><td>   <table width="100%"  border="0" cellspacing="10px" cellpadding="0" align="center" style="margin-left: 200px" >
		<tr ><h2 style="margin-left: 300px; color: #0026ff ; "> Users In Role : @roleName </h2></tr>

        <div> 
            @if(usersInRole.Length > 0) 
            { 
            @* List all current role members *@ 
            <ul style="margin-left: 300px"> 
            @foreach(var user in usersInRole) 
            { 
            <li>@user 
            <a href="removeUserFromRole?roleName=@roleName&userName=@user"> 
            [Remove] 
            </a> 
            </li> 
            } 
            </ul> 
            } 
            else 
            { 
            <p style="margin-left: 300px; color: #0026ff ; ">No users currently attached to this role.</p> 
           
            } 
        </div> 
        <div> 
            @* Form to assign users to the current role *@ 
            <h2  style="margin-left: 300px; color: #0026ff ; ">Add New User to this Role</h2> 
            <form action="~/admin/roles/update.cshtml" method="post"  style="margin-left: 300px"> </div> 
       <div  style="margin-left: 330px">
            @Html.Hidden("roleName", roleName) 
            @Html.Label("User: ", "newUser") 
            @Html.DropDownList("newUser", allUsers) 
            <input type="submit" value="Add User" name="addUser" /> 
            </form> 
        </div>
        
            		</table>
        </td>
        </tr>
        </table>
    
    </body>
</html>
