@{
    Layout = "shared_admin/_layout1.cshtml";

    var db = Database.Open("fashionStore");
    
    var q = "Select * from Category";
    var cats = db.Query(q);    

   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
        <table width="100%"  border="10" cellspacing="0" cellpadding="0" align="center">
	    <tr>
		     <td>
      <form action="~/admin/Search.cshtml" method="post"> 
                            <table style="width: 100%; height: 50%; margin-left: 300px">
      
                     <tr style="margin-bottom: 100px; color: #0026ff"><td class="txt" style="color: #ff6a00; margin-left: 200px">Search : </td>
      
          <td>                        @Html.TextBox("searchTerm") 
                       <input type="Submit" value="Search" /></td> 


         </tr>
        </form>           
     
            </td>
        </tr>
        </table>
    </body>
</html>
