@{
    
}

<!DOCTYPE html>

					<tr>
					  <td height="58" class="footer">
						  <table width="100%"  border="10" cellspacing="0" cellpadding="0">
							<tr>
							  <td width="458" height="25" align="right" class="txt">
										          <a href="~/default.cshtml" id="wht2" style="color: #ff6a00">Home</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                                  				  <a href="~/AboutUs.cshtml" id="wht2" style="color: #ff6a00">About Us</a>&nbsp;&nbsp; |&nbsp;&nbsp;
                                  				  <a href="~/ContactUs.cshtml" id="wht2" style="color: #ff6a00">Contact Us</a>&nbsp; &nbsp;|&nbsp;&nbsp;				 
							  <td width="125" class="txt">&nbsp;</td>
							  <td width="406" align="center" style="color: #ff6a00">Copyright &copy; 2011 <a href="~/default.cshtml" id="wht2" style="color: #ff6a00">Online Fashion Store</a>. All Rights Reserved</td>
							</tr>
						  </table>
					  </td>
					</tr>
