@{
    var  db = Database.Open("fashionStore");
    var query = "SELECT * FROM Category ORDER BY title";
    var data = db.Query(query);

    

}

<!DOCTYPE html>
			<table width="100%"  border="10" cellspacing="0" cellpadding="0">
				  <tr>
						<td height="85" align="left" valign="top" >
									<table width="100%"  border="0" cellspacing="0" cellpadding="0">
									  <tr>
										<td width="20%" height="85"><img src=@Href("images/onstore.jpg") alt="" width="201" height="85" border="0"></td>
										<td width="20%"><table width="450"  border="0" cellspacing="0" cellpadding="0">
										  <tr>
									        <div id="accountSummary">@MembershipHelpers.AccountSummary()</div>
                                              <td class="txt">
											<table width="80%"  border="0" cellspacing="0" cellpadding="0">
												<tr>
                                               <form action="/Search.cshtml" method="post"> 
                                            	<td class="txt" style="color: #ff6a00">Search:</td>
                                               <td ><select name="searchSelect" class="cls"  id="searchSelect">
											            <option value="Category">Category</option>    
                                                        <option value="Price">Price</option>
                                                   </select></td>
                                            
                                                 <td>   @Html.TextBox("searchTerm") </td>
                                                 <td>   <input type="Submit" value="Search" /></td> 
                                                </form>
                                                    
												</tr>
											</table>
										    </td>
										  </tr>
										</table></td>
									  </tr>
									</table>
						</td>
				  </tr>
				  </table>
	